body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  height: 780px;
  width: 780px;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.bottom-space {
  float: right;
  transform: translateX(-120px) translateY(-542px);
  overflow-wrap: break-word;
  font-size: 5pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
  font-weight: 525;
  
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 58px;
  height: 118px;
}

.left-space {
  transform-origin: top right;
  transform: translateX(61px) translateY(241px) rotate(90deg);
  margin-top: -61px;
  overflow-wrap: break-word;
  font-size: 5pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
  font-weight: 525;
  
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 58px;
  height: 118px;
}

.right-space {
  transform-origin: top left;
  float: right;
  transform: translateX(659px) translateY(-420px) rotate(-90deg);
  margin-top: -61px;
  overflow-wrap: break-word;
  font-size: 5pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
  font-weight: 525;
  
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 58px;
  height: 118px;
}

.top-space {
  float: left;
  transform: translateX(120px) translateY(-540px) rotate(180deg);
  overflow-wrap: break-word;
  font-size: 5pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
  font-weight: 525;
  
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 58px;
  height: 118px;
}

.color-indicator-Brown {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(150,83,54);
}

.color-indicator-Light.Blue {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(170,225,250);
}

.color-indicator-Magenta{
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(220,55,149);
}

.color-indicator-Orange {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(247,148,27);
}

.color-indicator-Red {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(237,27,38);
}

.color-indicator-Yellow {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(255,238,6);
}

.color-indicator-Green {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(30,180,91);
}

.color-indicator-Blue {
  width: 58px;
  height: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(0,114,189);
}

.jail-corner {
  position: absolute;
  top: 0px; left: 0px;
  height: 118px;
  width: 118px;
  border: 1px solid rgb(0,0,0);
}

.jail-image {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  transform: rotate(180deg);
}

.free-parking-corner {
  position: absolute;
  top: 0px; right: 0px;
  height: 118px;
  width: 118px;
  border: 1px solid rgb(0,0,0);
}

.free-parking-image {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 100%; height: 100%;
  transform: rotate(-90deg);
}

.go-to-jail-corner {
  position: absolute;
  bottom: 0px; right: 0px;
  height: 118px;
  width: 118px;
  border: 1px solid rgb(0,0,0);
}

.go-to-jail-image {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 100%; height: 100%;
  transform: rotate(0deg);
}

.go-corner {
  position: absolute;
  bottom: 0px; left: 0px;
  height: 118px;
  width: 118px;
  border: 1px solid rgb(0,0,0);
}

.go-image {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 100%; height: 100%;
  transform: rotate(90deg);
}

.icon-spot {
  position: absolute;
  height: 58px;
  width: 58px;
  right: 29px;
  bottom: 29px;
}

.just-visit-spot {
  position: absolute;
  height: 58px;
  width: 58px;
  right: 69px;
  bottom: 79px;
}

.icon-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.new-user-card {
  float: left;
  border: 1px solid rgb(0,0,0);
  height: 250px;
  width: 150px;
  margin: 10px;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.token-icon {
    position: absolute;
    height: 140px;
    width: 140px;
    transform: translateX(4px);
}

.delete-button {
  transform: translateX(64px) translateY(170px);
}

.start-button {
  height: 20px;
  width: 120px;
  text-align: center;
  border: 1px solid rgb(0,0,0);
  margin-left: 40px;
  background-color: rgb(0, 173, 0);
}

.user-card {
  color: aliceblue;
  background-color: rgb(0, 173, 0);
  width: 100px;
  font-size: 11pt;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
}

.turn-handler {
  height: 800px;
  width: 170px;
  position: absolute;
  right: 5px;
  top: 20px;
  text-align: center;
  background-color: rgb(156, 131, 179);
  color: aliceblue;
}

.active-button {
  height: 20px;
  width: 150px;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  margin-left: 8px;
  margin-bottom: 11px;
  background-color: rgb(0, 173, 0);
  color: aliceblue;
}

.passive-button {
  height: 20px;
  width: 150px;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  margin-left: 8px;
  background-color: rgb(173, 0, 0);
  color: aliceblue;
}

.disabled-button {
  height: 20px;
  width: 150px;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  margin-left: 8px;
  background-color: rgb(173, 173, 173);
  color: aliceblue;
}

.top-token {
  transform: rotate(180deg);
}

.right-token {
  transform: rotate(90deg);
}

.left-token {
  transform: rotate(-90deg);
}

.prop-card {
  background-color: rgb(255, 255, 255);
  margin: 8px;
  width: 150px;
  height: 220px;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  overflow-wrap: break-word;
  font-size: 10pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.golden-prop-card {
  background-color: goldenrod;
  margin: 8px;
  width: 150px;
  height: 220px;
  color: rgb(255, 231, 14);
  border: 2px solid rgb(255, 231, 14);
  overflow-wrap: break-word;
  font-size: 10pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.property-color-Brown {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(150,83,54);
}

.property-color-Light.Blue {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(170,225,250);
}

.property-color-Magenta{
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(220,55,149);
}

.property-color-Orange {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(247,148,27);
}

.property-color-Red {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(237,27,38);
}

.property-color-Yellow {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255,238,6);
}

.property-color-Green {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(30,180,91);
}

.property-color-Blue {
  width: 136px;
  height: 31px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0,114,189);
}

.title-deed
{
  margin: 0px;
  transform: translateY(4px);
  color:rgb(0, 0, 0);
  font-weight: 825;

}

.property-name
{
  /* position: absolute; */
  margin: 0px;
  transform: translateY(4px);
  color:rgb(0, 0, 0);
  font-weight: 725;
}

.railroad-name
{
  /* position: absolute; */
  margin: 0px;
  font-weight: 725;
}

.golden-railroad-name
{
  /* position: absolute; */
  margin: 0px;
  font-weight: 725;
  color: rgb(255, 231, 14)
}

.rent-line
{
  margin: 0px;
}

.house-rent-line
{
  margin: 0px;
  margin-right: 14px;
  text-align: right;
}

.prop-divider
{
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  border-style: solid;
  margin-bottom: 0px;
  margin-top: 0px;
}

.prop-card-icon
{
  height: 80px;
  width: 80px;
}

.trade-handler
{
  position: fixed;
  height: 800px;
  width: 1100px;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -550px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(15, 207, 79);
  color: rgb(255, 255, 255);
  text-align: center;
}

.close-button
{
  position: absolute;
  top: 8px;
  right: 8px;
}

.user-icon-spot {
  position: relative;
  height: 80px;
  width: 80px;
  margin-top: 2px
}

.trader-card {
  float: left;
  border: 1px solid rgb(0,0,0);
  height: 292px;
  width: 158px;
  margin: 10px;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.prop-cube-Brown {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(150,83,54);
}

.prop-cube-Light.Blue {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(170,225,250);
}

.prop-cube-Magenta{
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(220,55,149);
}

.prop-cube-Orange {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(247,148,27);
}

.prop-cube-Red {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(237,27,38);
}

.prop-cube-Yellow {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255,238,6);
}

.prop-cube-Green {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(30,180,91);
}

.prop-cube-Blue {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0,114,189);
}

.prop-cube-Black {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(80, 80, 80);
}

.prop-cube-Mint {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(117, 255, 186);
}

.prop-cube-stack {
  float: left;
  height: 65px;
}

.trader-card-button
{
  margin-left: -6px;
  margin-top: 3px;
}